<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob:; media-src 'self' data: blob:; font-src 'self' data:; connect-src 'self' ws: wss:;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poetry Slam Admin</title>
    
    <!-- Preload critical resources -->
    <link rel="preload" href="./fonts/SourceSansPro-Black.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="./fonts/Roboto-400.woff2" as="font" type="font/woff2" crossorigin />
    
    <!-- Critical CSS will be injected here by webpack -->
  </head>

  <body layout="row" ng-app="psadmin">
    <background-audio audio-shortcuts></background-audio>

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
      <a href="admin.html#/">
        <img src="./media/logo/logo.png" class="sidebar-logo" alt="Poetry Slam Logo" />
      </a>

      <md-content class="sidenav-menu">
        <sidenav-entry path="'/'" label="'Status'"></sidenav-entry>
        <sidenav-entry path="'/presentation'" label="'Präsentation'"></sidenav-entry>
        <sidenav-entry path="'/participants'" label="'Poet*innen'"></sidenav-entry>
        <sidenav-entry path="'/competitions'" label="'Wettbewerbe'"></sidenav-entry>
        <div layout="column" class="sidenav-sublevel">
          <div layout="column" ng-repeat="competition in event.competitions">
            <sidenav-entry path="'/competitions/' + competition.id + '/groups'" label="competition.name"></sidenav-entry>
            <div layout="column" class="sidenav-sublevel" ng-show="competition.groups">
              <sidenav-entry
                ng-repeat="group in competition.groups"
                path="'/competitions/' + competition.id + '/groups/' + group.id"
                label="group.name"
              ></sidenav-entry>
            </div>
          </div>
        </div>
        <sidenav-entry path="'/videos'" label="'Videos'"></sidenav-entry>
        <sidenav-entry path="'/sounds'" label="'Sounds'"></sidenav-entry>
        <sidenav-entry path="'/AdmistrationInterface'" label="'Administration'"></sidenav-entry>
      </md-content>

      <iframe src="./index.html?embedded=1" class="preview-frame" title="Presentation Preview"></iframe>
    </md-sidenav>

    <md-content flex class="md-whiteframe-z2">
      <section class="content-container" ng-view></section>
    </md-content>

    <!-- Admin JavaScript bundles will be injected here by webpack -->
  </body>
</html>
